@{
    ViewBag.Title = "Наши контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<section class="contact">
    <header>
        <h3>Телефон:</h3>
    </header>
    <p>
        <span class="label">Офис:</span>
        <span>(49232) 3-40-19</span>
    </p>
    <p>
        <span class="label">Директор:</span>
        <span>8 (910) 172 07 70</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>E-mail</h3>
    </header>
    <p>
        <span class="label">Офис:</span>
        <span><a href="mailto:Support@example.com">reklama-color@mail.ru</a></span>
    </p>
    <p>
        <span class="label">Директор:</span>
        <span><a href="mailto:Marketing@example.com">dimon-color@mail.ru</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        Владимирская область, город Ковров<br />
        ул.Социалистическая, д.12
    </p>
</section>

<script src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    var myMap,
        myPlacemark;

    function init() {
        myMap = new ymaps.Map("map", {
            center: [56.364745, 41.320715],
            zoom: 16.5
        });

        myPlacemark = new ymaps.Placemark([56.364745, 41.320715], {
            hintContent: 'Рекламное агентство "Колор"',
            //balloonContent: 'Столица России'
        });

        myMap.geoObjects.add(myPlacemark);
    }
</script>

<div id="map" style="width: 400px; height: 400px"></div>