@{
    ViewBag.Title = "Добро пожаловать";
}

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Рекламное агентство «Колор» — предприятие полного цикла от дизайна до монтажа
                - предлагает услуги по изготовлению наружной и интерьерной рекламы и
                полиграфии. К Вашим услугам собственная производственная база и
                квалифицированный персонал. Печатный цех оснащен современным
                оборудованием для широкоформатной и интерьерной печати, а также постпечатной
                обработки поступающих заказов. В нашем цехе представлен большой ассортимент материалов,
                с образцами которых можно ознакомиться в офисе.
            </p>
        </div>
    </section>

<h3>Мы предлагаем:</h3>
<ol class="round">
    <li class="one">
        <h5>Широкоформатная печать</h5>
        Широкоформатная печать - популярное направление современной рекламы.
        Это эффективный и недорогой способ передачи информации (уличные баннеры,
        растяжки над автодорогами, баннерные сетки на фасаде зданий, придорожные щиты и т.д.).
    </li>

    <li class="two">
        <h5>Интерьерная печать</h5>
        Это печать фотокачества. Область применения - внутренние помещения (кафе, офисы, квартиры, магазины, выставки и т.д.) и небольшие элементы наружной рекламы (офисные таблички, режимы работы, баннеры небольшого размера и прочее).

        В офисе вам предложат образцы материалов (баннер, баннерная сетка, бумага, виниловая пленка, холст и многие другие), на которых осуществляется печать, а также покажут примеры печати с различным разрешением. Наши специалисты проконсультируют вас и помогут сделать правильный выбор.
    </li>

    <li class="three">
        <h5>Наружная реклама</h5>
        Наружная реклама - это не только привычные билборды и перетяжки, но и всевозможные вывески, указатели, штендеры, таблички и прочее. Также это комплексное оформление фасадов, различные оригинальные рекламные конструкции, разработанные по индивидуальным проектам. Наиболее престижным видом наружной рекламы являются световые и крышные установки с имиджевыми элементами, которые говорят о благополучии, процветании и финансовой надежности фирмы.

        Рекламное агентство «Колор» готово предложить Вам целый спектр различных видов наружной рекламы. В наши дни рынок насыщен различными предложениями о товарах и услугах, и именно наружная реклама подскажет Вашим потенциальным клиентам где можно найти то, что необходимо. Специалисты рекламного агентства, имеющие 12-летний опыт работы в сфере рекламы, быстро и на профессиональном уровне найдут подходящий для Вас вариант.

        Наше рекламное агентство обладает собственной производственной базой, что позволит быстро, качественно и без дополнительных переплат выполнить Ваш заказ.
    </li>

    <li class="four">
        <h5>Дизайн</h5>
        Дизайн - важная составляющая любой рекламной кампании. Качественный дизайн -залог успеха и индивидуальности фирмы. Это важнейшее отличие среди большого числа конкурентов. Яркий эксклюзивный дизайн — смелый шаг к тому, чтобы на вашу фирму/товар/услугу обратил внимание потенциальный потребитель.

        Наши дизайнеры разработают для вас как отдельный эскиз (визитки, буклета, флаера, баннера, таблички, календаря и проч.), так и комплексный бренд-бук (фирменный стиль) вашей организации. Из нескольких предложенных вариантов вы сможете выбрать то, что вам придется по душе.


    </li>
</ol>